@color1:#f0ecd8;
@color2:#75d1c5;
@color3:#357e8f;
@color4:#142940;
@color5:#802c2a;
@color6:#d6757e;

.encaja{
	margin:auto;
}
body{
	background-color:@color1;
}
navbar-inverse{
	background-color:@color4;
}
.espacio-superior{
	margin-top:0.5em;

}
.navbar-wrapper  {
	background-color:@color4;
}
.color-texto5{
	text-color:@color5;
}